//阿里巴巴普惠体
@font-face {
    font-family: 'aliPHM';
    src: url('../font/Alibaba-PuHuiTi-Medium.ttf') format('truetype')
}

@font-face {
    font-family: 'aliPHR';
    src: url('../font/Alibaba-PuHuiTi-Regular.ttf') format('truetype')
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.title-box {
    padding: 64px 0 30px;
    .cn {
        font-size: 26px;
        margin-right: 8px;
        font-weight: bold;
        font-family: 'aliPHR';
    }
    .en {
        font-size: 22px;
        font-family: 'aliPHR';
        text-transform: uppercase;
    }
}

.crumb-box {
    padding: 20px 0 22px;
}