@import './color.scss';
//阿里巴巴普惠体
@font-face {
    font-family: 'aliPHM';
    src: url('../font/Alibaba-PuHuiTi-Medium.ttf') format('truetype')
}

@font-face {
    font-family: 'aliPHR';
    src: url('../font/Alibaba-PuHuiTi-Regular.ttf') format('truetype')
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.title-box {
    padding: 64px 0 30px;
    .cn {
        font-size: 26px;
        margin-right: 8px;
        font-weight: bold;
        font-family: 'aliPHR';
    }
    .en {
        font-size: 22px;
        font-family: 'aliPHR';
        text-transform: uppercase;
    }
}

.crumb-box {
    padding: 20px 0 22px;
}

.search-status {
    .img {
        height: 300px;
        background: center/auto 258px url(../images/nodata.png) no-repeat;
    }
    .text {
        color: #999;
        text-align: center;
        position: relative;
        span {
            line-height: 17px;
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 240px;
            border-top: 1px solid #ccc;
            top: 8px;
        }
        &::before {
            left: calc(50% - 305px);
        }
        &::after {
            right: calc(50% - 305px);
        }
    }
}

a:hover {
    color: $primary-color;
}